.catCard{
      width: 252px;
      height: 344px;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      position: relative;
      transition: background-color 0.3s, transform 0.3s;

      &:hover{
        background-color: #f0f0f0;
        transform: scale(1.04);
      }
      
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .desc{
        font-weight: 300;
        position: absolute;
        top: 15px;
        left: 15px;
      }

      .title{
        font-weight: 500;
        font-size: 24px;
        position: absolute;
        left: 15px;
        top: 40px;
      }

}