.messages{
    display: flex;
    justify-content: center;
    .container{
        width: 1000px;
        padding: 50px 0px;

        .title{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        table{
            width: 100%;

            tr{
                height: 70px;

                th{
                    text-align: left;
                }

                td{
                    padding: 10px;
                    // sup{
                    //     font-size: 12px;
                    // }
                    &:first-child{
                        font-size: 500;
                    }

                    &:nth-child(2),&:nth-child(3){
                        color: gray;
                    }

                }

                button{
                    background-color: #1dbf73;
                    color: white;
                    padding: 10px;
                    border: none;
                    cursor: pointer;
                }

                &.active{
                    background-color: #1dbf730f;
                }
          
            }
        }
    }
}