.trustedBy{
    background-color: #fafafa;
    height: 100%;
    display: flex;
    justify-content: center;
    
    .container{
       width: 760px;
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 40px;
       color: lightgray;
       font-weight: 500;

       img{
         height: 60px;
         object-fit: contain;
       }
    }
}